@use '../auth-partage' as *;


.auth-form {
    // Grille 2 colonnes pour le formulaire d'inscription en desktop
    &--grid {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.2rem 1.5rem;

            .form-group--full,
            button {
                grid-column: 1 / -1;
            }
        }
    }
}