footer.footer {
    display: flex;
    padding: 1.5rem 0 1rem;
    background: var(--bleu-refuge);
    color: var(--blanc);
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;

    a {
        color: var(--blanc);
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            text-decoration: underline;
        }
    }
}
