<div class="auth-page">
    <div class="auth-card">
        <div class="page-header">
            <h1>Connexion</h1>
            <hr/>
        </div>

        <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="email">Email <span class="required">*</span></label>
                <input type="email" id="email" formControlName="email" placeholder="monemail@gmail.com">
                @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                    <small class="error-text text-danger">Email invalide.</small>
                }
            </div>

            <div class="form-group">
                <label for="mot_de_passe">Mot de passe <span class="required">*</span></label>
                <div class="password-wrapper">
                    <input
                        type="password"
                        id="mot_de_passe"
                        formControlName="mot_de_passe"
                        placeholder="••••••••••••••"
                        #pwd1
                    >
                    <i class="bi bi-eye toggle-icon" #icon1 (click)="togglePassword(pwd1, icon1)"></i>
                </div>
                @if (loginForm.get('mot_de_passe')?.invalid && loginForm.get('mot_de_passe')?.touched) {
                    <small class="error-text text-danger">Mot de passe requis.</small>
                }
            </div>

            <a routerLink="/mot-de-passe-oublie" class="forgot-password">Mot de passe oublié ?</a>

            @if (errorMessage) {
                <div class="form-group--full">
                    <small class="error-text text-danger">{{ errorMessage }}</small>
                </div>
            }

            <button type="submit" class="btn-auth-primary" [disabled]="isLoading">
                {{ isLoading ? 'Connexion...' : 'Se connecter' }}
            </button>
        </form>

        <div class="separator">
            <span></span>
            <p>Ou</p>
            <span></span>
        </div>

        <p class="switch-auth">Pas encore de compte ?</p>

        <a routerLink="/inscription" class="btn-auth-secondary">Créer un compte</a>
    </div>
</div>